.skillInsights {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: "Jacques Pro";
}
.container,
.skillsprogress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.skillsprogress {
  height: 318px;
  flex: 1;
  border-radius: 20px;
  background-color: #1d1d1d;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
  gap: 38px;
  max-width: 100%;
}
.container {
  width: 421px;
  flex-shrink: 0;
}
.currentSkills {
  margin: 0;
  width: 508px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.container2,
.skill1 {
  flex-direction: column;
  align-items: flex-start;
}
.container2 {
  width: 508px;
  display: none;
  gap: 20px;
  flex-shrink: 0;
  font-size: 16px;
}
.skill1 {
  align-self: stretch;
  display: flex;
  gap: 12px;
}
.container3,
.container4 {
  display: flex;
  align-items: center;
}
.container3 {
  align-self: stretch;
  justify-content: space-between;
  gap: 20px;
}
.container4 {
  gap: 12px;
}
.containerIcon {
  height: 30px;
  width: 30px;
  border-radius: 7.5px;
}
.container5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.creativeThinking,
.div {
  position: relative;
}
.div {
  font-size: 14px;
  color: #9a9a9a;
}
.container6 {
  align-self: stretch;
  border-radius: 22369600px;
  background-color: #5a5a5a;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container7 {
  width: 308px;
  height: 8px;
  position: relative;
  border-radius: 22369600px;
  background: linear-gradient(90deg, #f6329a, #ff2056);
}
.container11 {
  align-self: stretch;
  border-radius: 22369600px;
  background-color: #5a5a5a;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 94px 0 0;
}
.container12 {
  width: 327px;
  height: 8px;
  position: relative;
  border-radius: 22369600px;
  background: linear-gradient(90deg, #2a80fe, #01b7db);
}
.container16 {
  align-self: stretch;
  border-radius: 22369600px;
  background-color: #5a5a5a;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 148px 0 0;
}
.container17 {
  width: 273px;
  height: 8px;
  position: relative;
  border-radius: 22369600px;
  background: linear-gradient(90deg, #00c851, #00bc7c);
}
.container21 {
  align-self: stretch;
  border-radius: 22369600px;
  background-color: #5a5a5a;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 113px 0 0;
}
.container22,
.container27 {
  height: 8px;
  position: relative;
  border-radius: 22369600px;
}
.container22 {
  width: 251px;
  background: linear-gradient(90deg, #ff6a01, #fd9801);
}
.container27 {
  width: 308px;
  background: linear-gradient(90deg, #ad47ff, #8f51ff);
}
.skillVisuals,
.visualSense2 {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
}
.skillVisuals {
  flex: 1;
  gap: 26px;
  font-size: 23.4px;
}
.visualSense2 {
  height: 219.2px;
  width: 197.5px;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  isolation: isolate;
  border-radius: 16.7px;
}
.asset13,
.image432Icon {
  object-fit: cover;
  flex-shrink: 0;
}
.image432Icon {
  width: 341px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: -88px;
  max-height: 100%;
  z-index: 1;
  min-width: 341px;
  min-height: 382px;
}
.asset13 {
  width: 76.1px;
  height: 82.8px;
  position: relative;
  z-index: 2;
}
.rectangleParent {
  border-radius: 16.7px;
  background-color: #e66b1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 55.3px 47px 38.2px;
  gap: 4.3px;
  margin-top: -64.4px;
  height: 100%;
  width: 100%;
}
.frameChild,
.rectangleParent,
.visualSense3 {
  position: relative;
  flex-shrink: 0;
}
.frameChild {
  width: 197.5px;
  height: 200.8px;
  border-radius: 16.7px;
  background-color: #e66b1f;
  display: none;
}
.visualSense3 {
  width: 73px;
  height: 66px;
  display: inline-block;
  z-index: 2;
}
.proficiencyLabels {
  display: flex;
  align-items: flex-start;
  padding: 0 12px 0 11px;
  flex-shrink: 0;
  font-size: 12px;
}
.primary {
  height: 17px;
  width: 52px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.visualSenseChild {
  width: 29.6px;
  height: 30.8px;
  border-radius: 16.7px;
  display: none;
  z-index: 4;
  flex-shrink: 0;
}
.problemSolving2 {
  height: 219.2px;
  width: 197.5px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  isolation: isolate;
  text-align: center;
  border-radius: 16.7px;
}
.image432Icon2 {
  width: 341px;
  position: absolute;
  margin: 0 !important;
  top: -57px;
  left: -88.5px;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
  flex-shrink: 0;
  min-width: 341px;
  min-height: 382px;
}
.problemSolvingChild {
  width: 29.6px;
  height: 30.8px;
  border-radius: 16.7px;
  display: none;
  z-index: 3;
  flex-shrink: 0;
}
.rectangleGroup {
  border-radius: 16.7px;
  background-color: #26dddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55.3px 47px 38.2px;
  gap: 4.3px;
  margin-top: -64.4px;
  height: 100%;
  width: 100%;
}
.frameItem,
.problemSolving3,
.rectangleGroup {
  position: relative;
  flex-shrink: 0;
}
.frameItem {
  width: 197.5px;
  height: 200.8px;
  border-radius: 16.7px;
  background-color: #26dddd;
  display: none;
}
.problemSolving3 {
  width: 101px;
  height: 66px;
  display: inline-block;
  z-index: 2;
}
.secondaryWrapper {
  display: flex;
  align-items: flex-start;
  padding: 0 18px 0 16px;
  flex-shrink: 0;
  text-align: left;
  font-size: 12px;
}
.secondary {
  height: 17px;
  width: 69px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.domainprogress {
  border-radius: 20px;
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
}
.container28 {
  width: 336px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.currentDomains {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.domains {
  position: relative;
  font-size: 14px;
  color: #9a9a9a;
  display: none;
}
.domainVisuals {
  width: 336px;
  flex: 1;
  overflow: hidden;
  display: flex;
  gap: 15px;
  font-size: 12px;
}
.containerParent,
.domainVisuals,
.jobRoles {
  flex-direction: column;
  align-items: flex-start;
}
.jobRoles {
  height: 318px;
  width: 379px;
  border-radius: 20px;
  background-color: #1d1d1d;
  display: flex;
  padding: 16px;
  box-sizing: border-box;
  gap: 24px;
  max-width: 100%;
}
.containerParent {
  width: 336px;
  overflow: hidden;
  display: none;
  gap: 15px;
  font-size: 12px;
}
.container30 {
  align-self: stretch;
  height: 109px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.container31,
.domain1 {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.domain1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #323232;
  width: 100%;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;
  height: 100%;
}
.container31 {
  gap: 12px;
}
.containerIcon6 {
  height: 48px;
  width: 48px;
  border-radius: 10px;
  display: none;
}
.container32,
.text {
  align-items: flex-start;
}
.container32 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.text {
  border-radius: 4px;
  background-color: rgba(43, 127, 255, 0.1);
  display: none;
  padding: 2px 6px 2px 8px;
  color: #51a2ff;
  font-family: Arial;
}
.primary2 {
  position: relative;
  line-height: 16px;
}
.spatialExperience {
  position: relative;
  font-size: 16px;
}
.interiorDesignExhibitionDes {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 16px;
}
.container33 {
  width: 305px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  font-size: 14px;
  color: #9a9a9a;
}
.div6 {
  position: relative;
  color: #fff;
}
.container36 {
  width: 239px;
  height: 8px;
  position: relative;
  border-radius: 22369600px;
  background: linear-gradient(90deg, #2b7fff, #9810fa);
}
.domain3 {
  position: absolute;
  top: 304px;
  left: 0;
  border-radius: 10px;
  background-color: #323232;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;
  width: 100%;
  flex-shrink: 0;
  color: #51a2ff;
}
.container37 {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.containerIcon7 {
  height: 48px;
  width: 48px;
  border-radius: 10px;
}
.text2 {
  border-radius: 4px;
  background-color: rgba(43, 127, 255, 0.1);
  display: none;
  align-items: flex-start;
  padding: 2px 6px 2px 8px;
  font-family: Arial;
}
.heading3 {
  width: 140.9px;
  height: 24px;
  position: relative;
  font-size: 16px;
  color: #fff;
}
.productDesign {
  position: absolute;
  top: -1.7px;
  left: 0;
  flex-shrink: 0;
}
.paragraph {
  width: 173px;
  height: 20px;
  position: relative;
  font-size: 14px;
  color: #9a9a9a;
}
.coursesCompleted {
  position: absolute;
  top: -1.3px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.container39 {
  width: 305px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-size: 14px;
  color: #9a9a9a;
}
.container42 {
  width: 239px;
  height: 8px;
  position: relative;
  border-radius: 22369600px;
  background: linear-gradient(90deg, #02b1de, #1465f9);
}
.container43 {
  position: absolute;
  top: 312px;
  left: 0;
  border-radius: 10px;
  background-color: #323232;
  border: 0.7px solid #5a5a5a;
  box-sizing: border-box;
  width: 100%;
  height: 165.3px;
  display: none;
  flex-shrink: 0;
  color: #00d3f3;
  font-family: Arial;
}
.container44 {
  position: absolute;
  top: 20.7px;
  left: 20.7px;
  width: 223.4px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.container45 {
  height: 72px;
  flex: 1;
  position: relative;
}
.heading32,
.text3 {
  position: absolute;
  left: 0;
}
.text3 {
  top: 0;
  border-radius: 4px;
  background-color: rgba(0, 184, 219, 0.1);
  display: flex;
  align-items: flex-start;
  padding: 2px 5px 2px 8px;
}
.heading32 {
  top: 24px;
  width: 163.4px;
  height: 24px;
  font-size: 16px;
  color: #fff;
}
.frontendDevelopment {
  position: absolute;
  top: -1.7px;
  left: 0;
  line-height: 24px;
  display: inline-block;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.paragraph2 {
  position: absolute;
  top: 52px;
  left: 0;
  width: 163.4px;
  height: 20px;
  font-size: 14px;
  color: #99a1af;
}
.coursesCompleted2 {
  position: absolute;
  top: -1.3px;
  left: 0;
  line-height: 20px;
  display: inline-block;
  width: 141px;
  flex-shrink: 0;
}
.container46 {
  position: absolute;
  top: 108.7px;
  left: 20.7px;
  width: 298.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-size: 14px;
  color: #99a1af;
}
.container47 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.text4 {
  height: 20px;
  width: 53.2px;
  position: relative;
}
.progress3 {
  position: absolute;
  top: -1.3px;
  left: 0;
  line-height: 20px;
  display: inline-block;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.text5 {
  height: 20px;
  width: 26.6px;
  position: relative;
  color: #fff;
}
.container49 {
  width: 134px;
  height: 8px;
  position: relative;
  border-radius: 22369600px;
  background: linear-gradient(90deg, #00b8db, #155dfb);
}
.containerChild {
  top: 0;
  right: 0;
  border-radius: 0 0 0 10px;
  background-color: #00a8e9;
  width: 30px;
  height: 32px;
}
.containerChild,
.containerItem,
.p {
  position: absolute;
  flex-shrink: 0;
}
.p {
  top: 2px;
  left: 314px;
  font-size: 20px;
}
.containerItem {
  top: 0;
  right: 0;
  border-radius: 0 0 0 10px;
  background-color: #e60086;
  width: 30px;
  height: 32px;
}
.roleOptions {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 14px;
  text-align: center;
  font-size: 14px;
  max-height: 220px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 4px;
}
.roleOptions::-webkit-scrollbar {
  width: 6px;
}
.roleOptions::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.accessoryDesignerWrapper {
  border-radius: 8px;
  background-color: #00a8e9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 64px;
  width: calc(50% - 7px);
  box-sizing: border-box;
  color: #000;
  overflow: hidden;
}
.accessoryDesignerWrapper > div {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media screen and (max-width: 1225px) {
  .skillInsights {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .skillVisuals {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .skillsprogress {
    height: auto;
    gap: 19px;
  }
  .currentSkills {
    font-size: 16px;
  }
  .container3 {
    flex-wrap: wrap;
    gap: 20px;
  }
  .problemSolving3,
  .visualSense3 {
    font-size: 19px;
  }
  .currentDomains {
    font-size: 16px;
  }
  .jobRoles {
    height: auto;
  }
  .container30 {
    height: auto;
    min-height: 109px;
  }
  .p {
    font-size: 16px;
  }
}
